<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PayPal: compras internacionais descomplicadas e muito mais</title>
        <link href="./view/style/exchange.css" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" type="image/x-icon" href="https://www.paypalobjects.com/webstatic/icon/favicon.ico">
    </head>
    <body>
        <div class="divHeader">
            <div class="subDivHeader">
                <div class="menuDropdown">
                    <button class="btnDropdown">Menu</button>
                    <div class="sectionLinks">
                        <a href="/">Pagina Inicial</a>
                        <a href="/" onClick="">Logout</a>
                    </div>
                </div>
                <div class="divImgLogoAzul">
                    <img src="./view/image/logoLogin.svg" class="logoazul" alt="logo"/>
                </div>
                </div>
                <section class="textCotacao">
                    <h2 class="tagh2">Cotação de Moedas</h2>
                </section>
                <div class="divInformacao">
                    <div class="subDivInformacao">
                        <section class="sectionInformacao"> 
                            <label class="labelInformacao">Valor</label>
                            <input type="money" placeholder="R$ 00,00" onChange="" value="" class="inputValor"/>
                        </section>
                        <section class="sectionInformacao">
                            <label class="labelInformacao">Cotar de</label>
                                <select onChange="" class="select" style="">
                                    <option value="">Selecione uma moeda base</option>
                                    <option value="AED">AED Emirados Árabes Unidos</option>
                                    <option value="AFN">AFN Afegão afegão</option>
                                    <option value="ALL">ALL	Lek albanês</option>
                                    <option value="AMD">AMD	Dram armênio</option>
                                    <option value="ANG">ANG	Florim das Antilhas Holandesas</option>
                                    <option value="AOA">AOA	Kwanza angolano</option>
                                    <option value="ARS">ARS	Peso argentino</option>
                                    <option value="AUD">AUD	Dólar australiano</option>
                                    <option value="BOB">BOB	Boliviano</option>
                                    <option value="BRL">BRL	real brasileiro</option>
                                    <option value="BSD">BSD	Dólar das Bahamas</option>
                                    <option value="CAD">CAD Dólar canadense</option>
                                    <option value="CHF">CHF	Franco suíço</option>
                                    <option value="CLP">CLP	Peso Chileno</option>
                                    <option value="CNY">CNY	Renminbi Chinês</option>
                                    <option value="COP">COP	Peso colombiano</option>
                                    <option value="CUC">CUC	Peso cubano</option>
                                    <option value="EGP">EGP	Libra egípcia</option>
                                    <option value="EUR">EUR	Euro</option>
                                    <option value="GBP">GBP	Libra esterlina</option>
                                    <option value="HKD">HKD	Dólar de Hong Kong</option>
                                    <option value="JPY">JPY	Yen japonês</option>
                                    <option value="MXN">MXN	Peso mexicano</option>
                                    <option value="NOK">NOK	Coroa norueguesa</option>
                                    <option value="NZD">NZD	Dólar neozelandês</option>
                                    <option value="PYG">PYG	Guaraní Paraguaio</option>
                                    <option value="SEK">SEK	Coroa sueca</option>
                                    <option value="USD">USD	Dólar Americano</option>
                                    <option value="UYU">UYU	Peso Uruguaio</option>
                                </select>
                        </section>
                        <section class="sectionInformacao">
                            <label class="labelInformacao">Para</label>
                                <select onChange="" class="select" style=""> 
                                    <option value="">Selecione uma moeda cotacao</option>
                                    <option value="AED">AED  Emirados Árabes Unidos</option>
                                    <option value="AFN">AFN  Afegão afegão</option>
                                    <option value="ALL">ALL	Lek albanês</option>
                                    <option value="AMD">AMD	Dram armênio</option>
                                    <option value="ANG">ANG	Florim das Antilhas Holandesas</option>
                                    <option value="AOA">AOA	Kwanza angolano</option>
                                    <option value="ARS">ARS	Peso argentino</option>
                                    <option value="AUD">AUD	Dólar australiano</option>
                                    <option value="BOB">BOB	Boliviano</option>
                                    <option value="BRL">BRL	real brasileiro</option>
                                    <option value="BSD">BSD	Dólar das Bahamas</option>
                                    <option value="CAD">CAD Dólar canadense</option>
                                    <option value="CHF">CHF	Franco suíço</option>
                                    <option value="CLP">CLP	Peso Chileno</option>
                                    <option value="CNY">CNY	Renminbi Chinês</option>
                                    <option value="COP">COP	Peso colombiano</option>
                                    <option value="CUC">CUC	Peso cubano</option>
                                    <option value="EGP">EGP	Libra egípcia</option>
                                    <option value="EUR">EUR	Euro</option>
                                    <option value="GBP">GBP	Libra esterlina</option>
                                    <option value="HKD">HKD	Dólar de Hong Kong</option>
                                    <option value="JPY">JPY	Yen japonês</option>
                                    <option value="MXN">MXN	Peso mexicano</option>
                                    <option value="NOK">NOK	Coroa norueguesa</option>
                                    <option value="NZD">NZD	Dólar neozelandês</option>
                                    <option value="PYG">PYG	Guaraní Paraguaio</option>
                                    <option value="SEK">SEK	Coroa sueca</option>
                                    <option value="USD">USD	Dólar Americano</option>
                                    <option value="UYU">UYU	Peso Uruguaio</option>
                                </select>
                        </section>
                        <button onClick="" class="buttonConverte"> Converter </button>
                    </div>
                </div>
                <div class="divResultado">
                        <section class="sectionResultadoOne" >
                            <h3 class="tagh3">Resultado da Cotação</h3>
                            <section class="sectionData">
                                <label class="labelData">Data da Cotação:  <span class="spanData">{dia}/{mes}/{ano}</span></label>
                                <label class="labelData">Horário da Cotação: <span class="spanData">{horario}:{minuto}</span></label>
                            </section>
                        </section>
                    
                    <section  class="sectionResultadoTwo">
                            <label class="moedaBase" >{valor} {dadosDaRequesicao['base_code']} equivale a {dadosDaRequesicao['conversion_result']} BRL</label>
                            <label class="moedaValor" >{valor} {dadosDaRequesicao['base_code']} equivale a {dadosDaRequesicao['conversion_result']} {dadosDaRequesicao['target_code']} </label>
                    </section>
                </div>
            </div>
    </body>
</html>