<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PayPal: compras internacionais descomplicadas e muito mais</title>
        <link href="./view/style/principal.css" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" type="image/x-icon" href="https://www.paypalobjects.com/webstatic/icon/favicon.ico">
    </head>
    <body>
        <section class="background-container">
            <img class="background-image" src="./view/image/banner.png" alt="imagem de fundo" />
        </section>
        <header>
            <section class="wrapper">
                <section class=" logo-container">
                    <img class="logo-branca" src="./view/image/logotipo.svg" alt="logotipo"/>
                </section>
                <section class="link-container">
                    <a class="link-menu" href="">PARA VOCÊ <img src="./view/image/seta.png" style="width: 22px;"/></a>
                    <a class="link-menu" href="">PARA SEU NEGÓCIO <img src="./view/image/seta.png" style="width: 22px;"/></a>
                    <a class="link-menu" href="">SUPORTE PARA NEGÓCIOS <img src="./view/image/seta.png" style="width: 22px;"/></a>
                </section>
                <section class="button-header">
                    <a href="/login"class="button-entrar">Entrar</a>
                    <a href="/registro"class="button-criar">Criar conta</a>
                </section>
            </section>
        </header>
         <!--         ELEMENTOS MOBILE        -->
        <div class="header-mobile">
            <section class="button-container-mobile">
                <a class="button-header-mobile"><img src="./view/image/menumobile.png" style="width: 16px; margin-right: 5px;"/>Menu</a>
            </section>
            <section class="logo-container-mobile">
                <img class="logo-mobile"src="./view/image/logomobile.png"/>
            </section>
            <section class="button-container-mobile">
                <a class="button-header-mobile">Entrar</a>
            </section>
        </div>
        <div class="text-principal-container-mobile">
            <h1 class="text-principal-mobile">O Paypal agora</h1>
            <h1 class="text-principal-mobile">tem débito online*.</h1>
        </div>
        <!--        FIM ELEMENTOS MOBILE        -->
        <section class="wrapper">
            <section class="div-center "> 
                <div class="area-body-title"> 
                    <h1 class="text-title">O PayPal agora</h1>
                    <h1 class="text-title">tem débito on-line*.</h1>
                </div>
                <div class="area-subtitle"> 
                    <h2 class="subtitulo"> Adicione o cartão de débito à sua carteira do PayPal e comemore pequenas vitórias todos os dias.</h2>
                </div>
                <div class="area-button"> 
                    <button class="text-button">
                        <a href="/registro" class="text-button-link">Crie uma conta grátis</a>
                    </button>
                </div>
                <section class="area-bank"> 
                    <div class="area-bank-blocks-description">
                        <h3 class="text-bank">Cartões de débito</h3>
                    </div>
                    <div class="area-bank-blocks">
                        <img class="image-bank" src="./view/image/itau-icon.png"/>
                    </div>
                    <div class="area-bank-blocks">
                        <img class="image-bank" src="./view/image/bradesco-icon.png"/>
                    </div>
                    <div class="area-bank-blocks">
                        <img class="image-bank" src="./view/image/nubank-icon.png"/>
                    </div>
                    <div class="area-bank-blocks">
                        <img class="image-bank" src="./view/image/c6-icon.png"/>
                    </div>
                    <div class="area-bank-blocks">
                        <img class="image-bank" src="./view/image/inter-icon.png"/>
                    </div>
                </section>
                <section>
                    <div class="area-term">
                        <h3 class="text-term">*Termos e condições aplicáveis</h3>
                    </div>
                </section>
            </section>
        </section> 
        <footer>     
            <section class="footer-container" >
                <p class="text-footer"> 
                    Quer conhecer as soluções do PayPal para Empresas? 
                    <span class="text-footer-mobile">
                        Conte com a gente para vender dentro 
                        ou fora do seu país.
                    </span>
                </p>
                <button class="button-footer">
                    <a href="" class="button-footer">Realizar Cotação</a>
                </button>
            </section>
       </footer>
    </body>
</html>